html ,body{
    width: 100%;
    height:100%;
  position: relative;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.tablet-video{
   display: none;


}

.tablet-black{
  width: 100%;
  height: 71%;
  display: none; 
  background-color:black;
  opacity:.88! important;
  position: absolute;
  overflow: hidden;
}
.tablet-hadaer{
    display: none;
    font-weight:700;
    color: aliceblue;
    font-size: 37px;
   position: absolute;
top: 22%;
left:10%;
}
.tablet-font{
    display:none;
    width:70%;
    color: aliceblue;
position: absolute;
top: 33%;
left: 10%;
font-size:19px;
}

.input-width-h1{width: 57%;
    height: 59px;
    border-radius:8px;
    border:0px;
    display:none;
    position: absolute; 
    bottom: 40%;
    left: 10%;

}

.background-color-disadle1{
    color: rgb(238, 252, 252);
    background-color:#1c4444;
    font-size: small;
    padding: 20px;
    border: 0px;
    width: 130px;
    font-weight:700;
    position: absolute;
   bottom:40%;
   right:14%;
   display: none;
  
}
.tablet-buttom{
    display:none;
  position: absolute;
    bottom:10%;
    left:30%;

   

  
}

@media only screen and (max-width:800px){
    .tablet-video{
        display:block;
    } 
    .descktop-video{
        display:none;
    }
    .tablet-black{
        display:block;
    } 
    .background-zkkz{
        display:none;
    }
    .tablet-video-div{
        display: block;
    }
    .tablet-font{
        display:block;
    }
    .tablet-hadaer{
        display: block;
    }
    .descktop-hadaer{
        display: none;
    }
    .tablet-input{
        display: block;
    }
    .descktop-input{
        display:none;
    }
    .input-width-h1{
        display:block;
    }
    .tablet-buttom{
        display:block;
    }
   .descktop-buttom-a{
    display:none;
   }
   .background-color-disadle1{
    display:block;
   }
   .div-beet{
    display: block;
   }
}